<nav class="navbar navbar-light fixed-top">
  <div class="container-fluid navbar">
    <%= link_to 'BudgetApp', root_path, class: "brand-name" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header d-flex justify-content-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <span class="profile-photo"></span>
      <p>User Name</p>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">My Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Merchant Finder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Claim Promo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Share Promo</a>
          </li>
          <li class="nav-item">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>