<li class="border category-item">
  <div>
    <img src="<%= Category.find(params[:category_id]).icon %>" alt="category_icon">
      <h4>Transaction Name</h4>
    </div>
  <p class="px-3">Total: $ 10</p>
</li>