<li class="border transaction">
  <img src="<%= @category.icon %>" alt="category_icon">
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between">
      <h4><%= financial_transaction.name %></h4>
      <p class="px-3 amount">$<%= financial_transaction.amount %></p>
    </div>
    <span class="">Date</span>
  </div>
</li>