<%= render 'shared/logged_in_navbar', page: { title: 'Categories' } %>
<ul class="container-fluid-sm top-margin list-unstyled categories">
  <% 10.times do %>
    <%= render 'shared/category' %>
  <% end %>
</ul>
<button type="button" class="btn btn-success new-category-btn">New Category</button>