<%= render 'shared/logged_in_navbar', page: { title: 'New Category' } %>
<div class="container-fluid-sm top-margin login-form-cont">
  <%= form_with model: @category, html: {id: 'new-category'} do |f| %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Category Name", class: "w-100 p-3" %>
    </div>

    <div class="field">
      <%= f.url_field :icon, placeholder: "Icon (url, optional)", class: "w-100 p-3" %>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-success create-category-btn">Create</button>
    </div>
  <% end %>
</div>